<footer class= "footer py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <%= link_to "Home", root_path, class: "nav-link px-2 text-muted" %>
          <%= link_to "Contacto", contacto_path, class: "nav-link px-2 text-muted" %>
          <%= link_to "Nosotros", nosotros_path, class: "nav-link px-2 text-muted" %>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Drugstore company, Inc</p>
      </footer>
