<div class="about-section">
  <h1>Contacto</h1>
</div>

<div class= "container mt-5 mb-5">
  <div class="card-product">
    <%= image_tag  "/assets/Logo.png", class:"logo-navbar" %>
    <div class="container">
      <h2>Drugstore</h2>
      <p>+25 30 5678 0895</p>
      <p>contacto@drugstore.com</p>
      <p>Avenida Principal #1234, Región Metropolitana.</p>
    </div>
  </div>
</div>
