<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_450,w_1400/v1671117041/fb-distilled-spirits-filtration-pouring-wisky-header_1_d6ri5t.jpg", :height=>450, :width=>1400, :crop=>"scale" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_450,w_1400/v1671195544/img_22_jesaxj.webp", :height=>450, :width=>1400, :crop=>"scale" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_450,w_1400/v1671195085/img_19_hsqi3l.webp", :height=>450, :width=>1400, :crop=>"scale" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 17rem height: 25rem; border-radius: 8px 8px 8px 8px; box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 8px">
        <img src="https://res.cloudinary.com/dz3nzxaiy/image/upload/c_fill,h_800,w_700/v1671200417/johnnie-walker-red-laber-900x600_cm5z56.jpg" class="card-img-top mt-1" alt="..." style="border-radius: 8px 8px 0 0;">
        <div class="card-body">
          <h5 class="card-title">Whisky</h5>
          <p class="card-text ov-text">Es un destilado de cereal envejecido en barricas de madera. Los pioneros en destilarlo y formalizar el proceso de elaboración fueron monjes, de ellos pasó a los campesinos que instalaron infinidad de alambiques caseros. Actualmente, el whisky es el más preciado en el mercado de aguardientes.</p>
          <a href="/products/58" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 17rem height: 25rem; border-radius: 8px 8px 8px 8px; box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 8px">
        <img src="https://res.cloudinary.com/dz3nzxaiy/image/upload/c_scale,h_350,w_300/v1671200608/Captura_de_Pantalla_2022-12-16_a_la_s_11.22.37_ua7i0v.png" class="card-img-top" alt="..." style="border-radius: 8px 8px 0 0;">
        <div class="card-body">
          <h5 class="card-title">Ron</h5>
          <p class="card-text ov-text">El ron es un licor alcohólico destilado, obtenido del jugo o de la melaza de la caña de azúcar. Usualmente es un sub-producto de la fabricación del azúcar. Incluye a los tipos claros y ligeros, típicos de la República Dominicana, Cuba y Puerto Rico, y los más pesados y de sabor más intenso como los de Jamaica.</p>
          <a href="/products/55" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 17rem height: 25rem; border-radius: 8px 8px 8px 8px; box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 8px">
        <img src="https://res.cloudinary.com/dz3nzxaiy/image/upload/c_scale,h_380,w_350/v1671200417/2642018081746_fincafondoblanco_tmsdhp.jpg" class="card-img-top mt-3" alt="..." style="border-radius: 8px 8px 0 0;">
        <div class="card-body">
          <h5 class="card-title">Vino Blanco</h5>
          <p class="card-text ov-text">El vino es, exclusivamente, la bebida resultante de la fermentación alcohólica, completa o parcial, de uvas frescas, estrujadas o no, o de mosto de uva. Su contenido en alcohol adquirido no puede ser inferior a 8,5% vol.</p>
          <a href="/products/57" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 17rem height: 25rem; border-radius: 8px 8px 8px 8px; box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 8px">
        <img src="https://res.cloudinary.com/dz3nzxaiy/image/upload/c_scale,h_350,q_99,w_300/v1671200608/Captura_de_Pantalla_2022-12-16_a_la_s_11.22.20_mek8xk.png" class="card-img-top" alt="..." style="border-radius: 8px 8px 0 0;">
        <div class="card-body">
          <h5 class="card-title">Vodka</h5>
          <p class="card-text ov-text">Conocida como una de las bebidas alcohólicas más fuertes y potentes del mercado, el vodka es una bebida destilada de origen ruso. Con un tenor alcohólico que puede ir de 35 a 50 por ciento, es sin dudas una de las bebidas más duras ya que está compuesta solamente por agua y etanol a diferencia de otras bebidas alcohólicas que cuentan con otros ingredientes y sabores.</p>
          <a href="/products/56" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
