<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_450,w_1400/v1671117041/fb-distilled-spirits-filtration-pouring-wisky-header_1_d6ri5t.jpg", :height=>450, :width=>1400, :crop=>"scale" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_450,w_1400/v1671117007/img_1_xquzdg.jpg", :height=>450, :width=>1400, :crop=>"scale" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_450,w_1400/v1671117007/img_3_bwfxol.jpg", :height=>450, :width=>1400, :crop=>"scale" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_250,w_350/v1671120190/whisky_card_1_pzdaln.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_250,w_350/v1671120834/ron_card_2_xfuziu.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_250,w_350/v1671120830/wine_card_3_cbynfw.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="https://res.cloudinary.com/drd7kavdp/image/upload/c_scale,h_250,w_350/v1671120830/vodka_card_4_d0gmcz.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
