<div class="about-section">
  <h1>Drugstore</h1>
  <p></p>
  <p></p>
  <p></p>
  <p>Reinventamos tus bebidas favoritas.</p>
  <p>Somos la primera plataforma latinoamericana que permite la compra y venta de licores de forma rápida y segura.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">

  <div class="column">
    <div class="card">
      <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686966/development/0a7dwram8vikp1tb69jf6e0s2h9h.png", class:"radio-imagen" %>
      <div class="container">
        <h2>Carolina Ramirez</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>carolina@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686968/development/xjt1kx3z4ok0r2py7xpvt3w7l8ma.jpg", class:"radio-imagen" %>
      <div class="container">
        <h2>Gastón Henrich</h2>
        <p class="title">Fullstack Dev</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>gaston@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686964/development/4n5bosu9lvxgpilbupsvff7bst0i.jpg", class:"radio-imagen" %>
      <div class="container">
        <h2>Francisco Giacci</h2>
        <p class="title">Fullstack Dev</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>francisco@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag "https://res.cloudinary.com/dcakvgdsg/image/upload/v1670686962/development/e6xjmbo9d0rnqilhqha5hzixi0ay.jpg", class:"radio-imagen" %>
      <div class="container">
        <h2>Michelle Madrid</h2>
        <p class="title">Fullstack Dev</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>michelle@gmail.com</p>
      </div>
    </div>
  </div>
</div>
