.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 600px;
  border-radius: 20px !important;
}

.radio-imagen {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}
