.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 600px;
  border-radius: 20px !important;
}

.radio-imagen {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.product-card-content {
  h5 {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  p {
    color: black;
  }
}

.ov-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 118px;
}

.product-container {
  padding: 20px 0px;
  padding-left: 90px;
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  img {
    height: 15rem;
    width: 100%;
    margin-top: 5px;
  }
}
.title{
 display: flex;
 justify-content: center;
 margin-top: 50px;
}
