.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: groove;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-top: 0px;
  display: inline-block;
  border-radius: 50%;

}
.container{
margin-left: auto;
}
.form-control{
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(33, 32, 32, 0.2)
}
.btn{
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(33, 32, 32, 0.2)

}
