<div class="container mt-5">
  <div class="row product-container">
    <% @products.each do |product| %>
          <div class="col mb-2">
            <div class="card" style="width: 19rem; border-radius: 8px 8px 8px 8px; box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 8px">
              <% if product.photo.key != nil %>
                <%= cl_image_tag product.photo.key %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text ov-text"><%= product.details %></p>
                <%= link_to "Ver detalles", product_path(product), class: "btn btn-primary mt-3" %>
              </div>
            </div>
          </div>
      <% end %>
  </div>
</div>
