<div style="background-color: #15395b;">
  <div class="container pt-5 " >
    <div class="product-container" >
      <% @products.each do |product| %>

      <div class="product-card">
      <%= link_to product_path(product) do %>

        <div class="d-flex justify-content-center"><%# <img src="" class="card-img-top" alt="..."> %>
          <% if product.photo.key != nil %>
            <%= cl_image_tag product.photo.key %>
          <% end %>
        </div>
          <div class="product-card-content">
            <h5><%= product.name %></h5>
            <p><%= product.details.truncate(80) %></p>

          </div>

      <% end %>
      </div>
    <% end %>

    </div>
  </div>
</div>
