<div style="height: 58vh">
  <div class= "container mt-5 mb-5">
    <div class="card-product">
      <div class="card-product-infos">
        <p style="text-align: center;"><strong>Su compra ha sido realizada con éxito.<br>Recibirá un email a la brevedad.<br>
        Recuerde que para retirar su producto debe presentar su identificación personal y ser mayor de 18 años.</strong></p>
        <h2 style="text-align: center;"><strong>Muchas gracias por su compra!</strong></h2>
      </div>
    </div>
  </div>
</div>
